extends layout


block content 
  h1.header Homepage

  block container
   div.container 
    figure.person 
     img.person-image(src='/images/tom-jagger.jpg')
     h2 Tom Jagger
     a.button(href='#') View profile
    figure.person 
     img.person-image(src='/images/caroline-green.jpg')
     h2 Caroline Green
     a.button(href='#') View profile 
    figure.person 
     img.person-image(src='/images/sarah-you.jpg')
     h2 Sarah You
     a.button(href='#') View profile 


