doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    include partials/navigation
    block content
    include partials/footer
    block container
    include partials/container
